<div class="container">
    <div class="col-12 col-md-6">

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="com/icons/designbolts/hexagonal-social/128/App-Store-icon.png" id="icon" alt="User Icon" />
                    <div class="text-danger" th:if="${param.error}">
                        invalid password or username !
                    </div>
                </div>

                <!-- Login Form -->
                <form th:action="@{/login}" method="post">
                    <input type="text" autocomplete="off" id="login" class="fadeIn second" name="username" placeholder="username">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Go to the Site</a>
                </div>

            </div>
        </div>
    </div>

</div>